.the-meaning {
	padding: 20%;
	background-color: black;
	&__text {
		font-size: 5em;
		font-weight: bold;
		color: white;
		text-align: center;
	}
	&__letter {
		&--league-gothic {
			font-family: "League Gothic", sans-serif;
		}
		&--amaticsc {
			font-family: "AmaticSC", sans-serif;
		}
		&--caviar-dreams {
			font-family: "Caviar Dreams", sans-serif;
		}
		&--fff-tusj {
			font-family: "FFF Tusj", sans-serif;
		}
		&--ostrich {
			font-family: "Ostrich", sans-serif;
		}
		&--season-resort {
			font-family: "Season Resort", sans-serif;
		}
		&--bebas {
			font-family: "BEBAS", sans-serif;
		}
		&--chunkfive {
			font-family: "Chunkfive", sans-serif;
		}
		&--good-dog {
			font-family: "Good Dog", sans-serif;
		}
		&--pacifico {
			font-family: "Pacifico", sans-serif;
		}
		&--walkway {
			font-family: "Walkway", sans-serif;
		}
		&--capture-it {
			font-family: "Capture it", sans-serif;
		}
		&--exo {
			font-family: "Exo", sans-serif;
		}
		&--sensation {
			font-family: "Sensation", sans-serif;
		}
	}
}

@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/LeagueGothic-regular.otf');
}
@font-face {
    font-family: 'AmaticSC';
    src: url('../fonts/AmaticSC-Regular.ttf');
}
@font-face {
    font-family: 'Caviar Dreams';
    src: url('../fonts/CaviarDreams.ttf');
}
@font-face {
    font-family: 'FFF Tusj';
    src: url('../fonts/FFF_Tusj.ttf');
}
@font-face {
    font-family: 'Ostrich';
    src: url('../fonts/ostrich-regular.ttf');
}
@font-face {
    font-family: 'Season Resort';
    src: url('../fonts/SEASRN__.ttf');
}
@font-face {
    font-family: 'BEBAS';
    src: url('../fonts/BEBAS___.ttf');
}
@font-face {
    font-family: 'Chunkfive';
    src: url('../fonts/Chunkfive.otf');
}
@font-face {
    font-family: 'Good Dog';
    src: url('../fonts/GoodDog.otf');
}
@font-face {
    font-family: 'Pacifico';
    src: url('../fonts/Pacifico.ttf');
}
@font-face {
    font-family: 'Walkway';
    src: url('../fonts/Walkway_Black.ttf');
}
@font-face {
    font-family: 'Capture it';
    src: url('../fonts/Capture_it.ttf');
}
@font-face {
    font-family: 'Exo';
    src: url('../fonts/Exo-Medium.otf');
}
@font-face {
    font-family: 'Sensation';
    src: url('../fonts/Sansation-Regular.ttf');
}
